@font-face {
  font-family: 'GT-Walsheim';
  src: url("assets/fonts/GT-Walsheim-Pro-Regular.eot");
  src: url("assets/fonts/GT-Walsheim-Pro-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/GT-Walsheim-Pro-Regular.woff2") format("woff2"), url("assets/fonts/GT-Walsheim-Pro-Regular.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  font-style: normal;
  font-weight: 500;
  src: local('GT Walsheim Medium'), url('assets/fonts/gt-walsheim-medium.ttf') format('truetype');
}
